/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 8px;
  line-height: 1.4;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --color1: #27323a;
  --color2: #435055;
  --color3: #29a09b;
  --color4: #a2f6be;
  --color5: #ea4550;
  --color6: #3fa8f4;
  --color-card: #dddddd;
}

h1 {
  font-size: 14rem;
  font-family: "Stratos Web SemiBold";
  line-height: 0.5;
}

h2 {
  font-size: 10rem;
  font-family: "Stratos Web SemiBold";
  margin-bottom: 30px;
  margin-top: 0;
}

p {
  font-family: "Champagne & Limousines";
  font-size: 2.2rem;
  margin: 0;
}

#container {
  overflow-x: hidden;
}

.section {
  padding: 0 20vw 0 20vw;
  margin-bottom: 50px;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 3rem 3rem;
  background-color: var(--color-card);
  border-radius: 10px 10px 0 0;
}

.title-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.title-container a {
  padding-top: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.title-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Champagne & Limousines";
  font-weight: bold;
  flex-direction: column;
  margin-left: 2rem;
}

.company-name {
  font-size: 5rem;
  color: var(--color1);
}

.project-name {
  font-family: "Champagne & Limousines";
  font-weight: bold;
  font-size: 5rem;
  color: var(--color1);
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3rem;
  color: var(--color2);
  margin-top: -1%;
}

.position {

}

.time-spent {
}

.description {

}

.tech {
  display: flex;
  flex-direction: row;
  background-color: var(--color1);
  border-radius: 0 0 10px 10px;
  padding: 1.5rem 2rem 2rem 2.5rem;
}

.tech-item {
  padding: 0.3rem 1rem 0.7rem 1rem;
  margin-right: 1.5rem;
  background-color: var(--color5);
  border-radius: 8px;
}

.tech-name {
  font-family: "Stratos Web SemiBold";
  color: white;
  font-size: 2rem;
}

.project-link {
  height: 35px;
  margin-left: 20px;
}

/* Landing section */
#intro {
  top: 20%;
  left: 10%;
  position: relative;

}

#imHayden {
  color: white;
}

#hello {
  color: var(--color4);
}

#landing {
  height: 100vh;
  width: 100%;
  background-color: var(--color1);
  overflow-x: hidden;
}

/* About section */
#about {
  height: 100%;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 7vh;
}

#about h2 {
  text-align: right;
  color: white;
}

#bio {
  background-color: #56666b;
  display: flex;
  border-radius: 10px; 
}

#bio-bar {
  border-top-left-radius: 10px;
  flex: 10%;
  background: linear-gradient(to bottom, var(--color4) 28%, var(--color3) 28%, var(--color3) 59%, var(--color5) 59%, var(--color5) 78%, var(--color1) 78%);
  
}

#bio-container {
  padding: 2rem;
}

#bio-body {
  color: white;
}

#fancyjson {
  display: block;
  width: 35%;
  font-family: "Consolas";
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  padding: 2rem 0px 2rem 2rem;
  background-color: var(--color1);
  border-radius: 0 0 10px 10px;
}

.white-stuff {
  color: white;
  display: block;
}

.line  {
  text-indent: 2em;
  display: block;
}

.key {
  color: var(--color4);
  display: inline;
}

.colon, .comma {
  color: white;
  display: inline;
}

.numbers {
  color: var(--color6);
  display: inline;
}

.string {
  color: var(--color5);
  display: inline;
}

.bool {
  color: var(--color3);
  display: inline;
}

/* Work Experience */
#work {
  height: 100%;
  background-color: white;
}

#work h2 {
  text-align: left;
  color: var(--color1);
}

/* Projects */
#projects {
  height: 100%;
  background-color: white;
}

#projects h2 {
  text-align: right;
  color: var(--color1);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

